input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
button{
    margin-right: 5px;
}
.paymentdetails_div{
    padding-top: 20px;
}
.pad{
    padding-bottom: 10px;
}