
<div class="col-md-1"></div>
<div class="col-md-4">
    <div class="paymentdetails_div">
    <form action="">
        <div class="pad">
            <div class="col-md-6">
                <label for="">Card Holder's Name</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>        
            <div class="clear"></div>
        </div>
        <div class="pad">
            <div class="col-md-6">
                <label for="">Enter Card Number</label>
            </div>
            <div class="col-md-6">
                <input type="number" class="form-control">
            </div>        
            <div class="clear"></div>
        </div>
        <div class="pad">
            <div class="col-md-6">
                <label for="">Expiry Date</label>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="00/00" class="form-control">
            </div>
            <div class="clear"></div>
        </div>
        <div class="pad">
            <div class="col-md-6">
                <label for="">CVV</label>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="123" class="form-control">
            </div>
            <div class="clear"></div>
        </div>
        <div class="pad">
            <div class="col-md-6">
                <label for="">Amount</label>
            </div>
            <div class="col-md-6">
                <input type="number" class="form-control">
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="pay()">Pay</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>
</div>
<div class="col-md-7"></div>
    
    
    


