.vehicleinsurancemain_div{
    padding: 15px;
}
.pad_1{
    padding-top: 15px;
}
button{
    margin-right: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.inlinedisp{
    display: inline-block;
}
.flt_r{
    float: right;
}