.bgimg {
  /* background-image: url('../../assets/images/mainbg_img.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}
.loginmain_div {
  width: 25%;
  z-index: auto;
  margin: 12% auto;
  background-color: #5d566361;
  border-radius: 10px;
  padding: 15px 0;
}
.login_head {
  /* color: #1ae6e6;
   */
  color: black;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}
.side_labels {
  color: #fff;
  font-style: italic;
  padding-top: 13px;
}
.login_btn {
  width: 100%;
  margin: 9px 0;
  border-radius: 31px;
  outline: none;
}
.register_link-div {
  text-align: center;
}
.register_link-div > a {
  color: #f1f1f1;
  text-decoration: none;
  font-style: italic;
  font-size: 15px;
}
.register_link-div > a:hover {
  color: #ffa90b;
}
.errmgs {
  color: #dac21a;
  font-size: 12px;
  font-style: italic;
}
